streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langchain-huggingface
sentence-transformers
transformers

faiss-cpu

rank-bm25

pymupdf

python-dotenv

numpy
pandas

tqdm